@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yeseva+One&display=swap');

/* Hero Section */
.background{
    background-image: url(Images/banner.jpg);
    width: 100%;
    height: 750px;
}
.navbar-nav li a{
    color: #fff;
    font-family:  "Gentium Book Plus", serif;
    font-weight: bold;
    font-size: 18pt;
}
.navbar-nav li a i{
    color: #dab33e;
}
.hero-section h1{
    margin-top: 40px;
    font-size: 80pt;
    color: #fff;
    font-family: "Yeseva One", serif;
}
.button{
    margin-top: 30px;
}
.btn-1{
    height: 55px;
    width: 230px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.6;
    color: #fff;
    margin: 10px;
}
.btn-2{

    height: 55px;
    width: 230px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    margin: 10px;
}

/* About Section */

.about{
    background-image: url(Images/Pattern-bg.jpg);
    width: 100%;
    height: 710px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.heading h3{
    font-family: "Yeseva One", serif;
    color:#dab33e;
    font-size: 28pt;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
}
.text img{
    margin-top: 20px;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredients{
    background-image: url(Images/section-bg.jpg);
    width: 100%;
    height: 750px;
    padding-top: 100px;
}
.ingredients-content{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.box{
    
    margin-left: 600px;
     border: 1px solid;
     height: 560px;
     width: 570px;
     background-color: black;
     opacity: 0.6;
}
.ingredients-text{
    opacity: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
}
.ingredients-heading{
    opacity: 1;
    font-family: "Yeseva One", serif;
    font-size: 28pt;
    margin-top: 50px;
}

/* menu Section */
.menu{
    background-image: url(Images/Pattern-bg2.jpg);
    width: 100%;
    height: 990px;
}
.card-body h5{
    font-size: 26px;
    text-align: center;
    color: #dab33e;
    
}
.decoration{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item{
    color:#dab33e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.underline{
    width: 660px;
    height: 2px;
    background-color:#dab33e;
}
.description{
    margin-top: 10px;
}